In [2]:
from datascience import *
import csv
import pandas as pd
import numpy as np
import gspread
from bs4 import BeautifulSoup
from lxml import html
from lxml import etree
import xml
import requests
import matplotlib
matplotlib.use('Agg')
from datascience import Table
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('fivethirtyeight')
import json
import pandas as pd
from pandas.io.json import json_normalize
from datetime import datetime, timedelta
import time

In [27]:
training = pd.read_csv('Frost.csv')
Train=Table.from_df(training)
Train

time      | volume | min_price | max_price | avg_price | median_price | warframe | available  | ducats | release | hot  | date
2019/1/19 | 50     | 260       | 300       | 280       | 281          | Frost    | 1          | 175    | 0       | 2    | 19
2019/1/20 | 53     | 256       | 300       | 278       | 280          | Frost    | 1          | 175    | 0       | 2    | 20
2019/1/21 | 27     | 272       | 294       | 283       | 286.5        | Frost    | 1          | 175    | 0       | 2    | 21
2019/1/22 | 48     | 140       | 300       | 220       | 255          | Frost    | 1          | 175    | 0       | 2    | 22
2019/1/23 | 91     | 120       | 220       | 170       | 160          | Frost    | 2          | 175    | 1       | 2    | 23
2019/1/24 | 52     | 129       | 200       | 164.5     | 170          | Frost    | 2          | 175    | 1       | 2    | 24
2019/1/25 | 29     | 148       | 200       | 174       | 174          | Frost    | 2          | 175    | 1       | 2    | 25
2019/1/26 | 22     | 145       | 176       | 160.5     | 160          | Frost    | 2          | 175    | 1       | 2    | 26
2019/1/27 | 29     | 150       | 200       | 175       | 179          | Frost    | 2          | 175    | 1       | 2    | 27
2019/1/28 | 36     | 150       | 220       | 185       | 176          | Frost    | 2          | 175    | 1       | 2    | 28
... (79 rows omitted)

In [28]:
Time=Train[0]
Time[:10]

array(['2019/1/19', '2019/1/20', '2019/1/21', '2019/1/22', '2019/1/23',
       '2019/1/24', '2019/1/25', '2019/1/26', '2019/1/27', '2019/1/28'],
      dtype='<U9')

In [29]:
type(Time[0])

numpy.str_

In [30]:
date1=datetime.strptime(Time[88],"%Y/%m/%d")
date1

datetime.datetime(2019, 4, 17, 0, 0)

In [31]:
size=np.size(Train.column(1))

In [32]:
weekend=np.array([])
for i in range(size):
    date1=datetime.strptime(Time[i],"%Y/%m/%d")
    if date1.weekday() <5:
        weekend=np.append(weekend,0)
    elif date1.weekday()>=5:
        weekend=np.append(weekend,1)
        
weekend[:30]

array([1., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 0.,
       0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1.])

In [33]:
train=Train.with_column('weekend',weekend)
train

time      | volume | min_price | max_price | avg_price | median_price | warframe | available  | ducats | release | hot  | date | weekend
2019/1/19 | 50     | 260       | 300       | 280       | 281          | Frost    | 1          | 175    | 0       | 2    | 19   | 1
2019/1/20 | 53     | 256       | 300       | 278       | 280          | Frost    | 1          | 175    | 0       | 2    | 20   | 1
2019/1/21 | 27     | 272       | 294       | 283       | 286.5        | Frost    | 1          | 175    | 0       | 2    | 21   | 0
2019/1/22 | 48     | 140       | 300       | 220       | 255          | Frost    | 1          | 175    | 0       | 2    | 22   | 0
2019/1/23 | 91     | 120       | 220       | 170       | 160          | Frost    | 2          | 175    | 1       | 2    | 23   | 0
2019/1/24 | 52     | 129       | 200       | 164.5     | 170          | Frost    | 2          | 175    | 1       | 2    | 24   | 0
2019/1/25 | 29     | 148       | 200       | 174       | 174          | Frost    | 2          | 175    | 1       | 2    | 25   | 0
2019/1/26 | 22     | 145       | 176       | 160.5     | 160          | Frost    | 2          | 175    | 1       | 2    | 26   | 1
2019/1/27 | 29     | 150       | 200       | 175       | 179          | Frost    | 2          | 175    | 1       | 2    | 27   | 1
2019/1/28 | 36     | 150       | 220       | 185       | 176          | Frost    | 2          | 175    | 1       | 2    | 28   | 0
... (79 rows omitted)

In [34]:
train.to_csv('Frost_data.csv')

In [36]:
example=train.where(11,1)
example.show()

In [37]:
example.to_csv('first_day.csv')